<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>FullScreen YouTube Video Background In Pure CSS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
      <link rel="stylesheet" href="/static/css/style_home.css">

  
</head>

<body>
  <div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/iGpuQ0ioPrM?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div><br><br><br>
<center>
<div id="vidtop-content">
<div class="vid-info">
	  <h1>Welcome to E-valuator</h1>
	 <p>E-valuator will check your answersheets and match it with faculty's solution expeditiously using Machine Learning and give you fair marks in no time.</p>
  </div>
</div><br><br>
<a href="/test/"><button type="submit">LIVE DEMO</button></a><br><br>
<button type="submit">DEMO(OCR)</button>
  </center>
  
</body>
</html>
